@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #C49E4A;
  --color-cta: #2BAA4A;
  --color-footer: #1C160B;

  /* Font families */
  --font-display: var(--font-poppins);
  --font-body: var(--font-inter);
  --font-footerlink: var(--font-lato);

  /* Background images */
  --background-image-hero-gradient: linear-gradient(
    80.92deg,
    rgba(100, 76, 24, 0) -48.05%,
    rgba(100, 76, 24, 0.558) 102.08%
  );
}
